@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to GymLogger</h1>
    <p>To use GymLogger, you need to sign in</p>
</div>
