@page "{id:int}"
@model GymLogger.Pages.Sessions.DetailsModel
@{
    ViewData["Title"] = "Session Details";
}

<h2>@Model.Session!.Name (@Model.Session.Date.ToString("dd.MM.yyyy HH:mm"))</h2>

<form method="post">
    <table class="table">
        <thead>
            <tr>
                <th>Exercise</th>
                <th>Muscles</th>
                <th>Weight (kg)</th>
                <th>Repetitions</th>
                <th>Sets</th>
                <th>Notes</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.ExerciseSessions.Count; i++)
            {
                <tr>
                    <td>@Model.ExerciseSessions[i].Exercise!.Name</td>
                    <td>
                        @string.Join(", ", Model.ExerciseSessions[i].Exercise!.ExerciseMuscles!.Select(em => em.Muscle!.Name))
                    </td>
                    <td>
                        <input asp-for="ExerciseSessions[i].Weight" class="form-control" type="number" />
                    </td>
                    <td>
                        <input asp-for="ExerciseSessions[i].NofRepetitions" class="form-control" type="number" />
                    </td>
                    <td>
                        <input asp-for="ExerciseSessions[i].NofSets" class="form-control" type="number" />
                    </td>
                    <td>
                        <input asp-for="ExerciseSessions[i].Note" class="form-control" type="text" />
                    </td>
                    <input type="hidden" asp-for="ExerciseSessions[i].Id" />
                </tr>
            }
        </tbody>
    </table>
    <button type="submit" class="btn btn-primary">Save Changes</button>
</form>