@page
@model GymLogger.Pages.Sessions.IndexModel
@{
    ViewData["Title"] = "My training sessions";
}
<h1>My training sessions</h1>

@if (!Model.Sessions.Any())
{
    <p>No training sessions yet! 🏋️‍</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Date</th>
                <th>Total Weight lifted</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var session in Model.Sessions)
            {
                <tr>
                    <td>@session.Name</td>
                    <td>@session.Date.ToString("dd.MM.yyyy HH:mm")</td>
                    <td>@session.TotalWeightLifted.ToString()kg</td>
                </tr>
            }
        </tbody>
    </table>
}
