@page
@model GymLogger.Pages.Dashboard.IndexModel
@using Microsoft.AspNetCore.Identity
@inject UserManager<User> UserManager
@{
	<h1>Vítej, @UserManager.GetUserName(User)!</h1>

	<p>View training sessions</p>
	<a asp-page="/Sessions/Index">My sessions</a>

    <h2>Add new session</h2>

    <form method="post" id="sessionForm">
        <div class="form-group">
            <label>Choose session</label>
            <select asp-for="SelectedSessionId" class="form-control" id="sessionSelect">
                @if (Model.LastSession != null)
                {
                    <option value="@Model.LastSession.Id">Add exercise to last session: @Model.LastSession.Name</option>
                }
                <option value="">Create new session</option>
            </select>
        </div>

        <input type="hidden" asp-for="NewSession.Name" id="newSessionName" />

        <h3>New Exercise</h3>
        <div class="form-group">
            <label>Exercise</label>
            <select asp-for="NewExerciseSession.ExerciseId" asp-items="Model.Exercises" class="form-control"></select>
        </div>
        <div class="form-group">
            <label for="NewExerciseSession_Weight">Weight (kg)</label>
            <input asp-for="NewExerciseSession.Weight" class="form-control" type="number" step="0.5" />
        </div>
        <div class="form-group">
            <label for="NewExerciseSession_NofRepetitions">Number of repetitions</label>
            <input asp-for="NewExerciseSession.NofRepetitions" class="form-control" type="number" />
        </div>
        <div class="form-group">
            <label for="NewExerciseSession_NofSets">Number of sets</label>
            <input asp-for="NewExerciseSession.NofSets" class="form-control" type="number" />
        </div>
        <div class="form-group">
            <label for="NewExerciseSession_Note">Note</label>
            <textarea asp-for="NewExerciseSession.Note" class="form-control"></textarea>
        </div>

        <button type="submit" class="btn btn-success mt-2">Save exercise</button>
    </form>
}

@section Scripts {
    <script>
        document.getElementById("sessionForm").addEventListener("submit", function (e) {
            const select = document.getElementById("sessionSelect");
            const hiddenInput = document.getElementById("newSessionName");

            if (select.value === "") {
                let name = prompt("Enter new session name:");
                if (!name || name.trim() === "") {
                    alert("You have to enter new session name!");
                    e.preventDefault();
                    return;
                }
                hiddenInput.value = name.trim();
            }
        });
    </script>
}